#qqq
{

margin-left:340px;
margin-top:-50px;
width:850px;

border-collapse:collapse;
font-size:20px;

}
#jpgg
{

margin-top:-490px;
margin-left:350px;
width:280px;
height:325px;;
}
#mm
{
font-size:70px;
margin-top:20px;
margin-left:690px;
}
#teladress
{
line-height:70px;
font-size:30px;
margin-top:-30px;
margin-left:700px;
}
#yaziki
{

font-size:57px;
margin-top:50px;
margin-left:350px;

}

#qqq2
{
height: 30px;
width:340px;
margin-top:150px;
margin-left:850px;
}

#qqq3
{
height: 30px;
width:340px;
margin-top:-27px;
margin-left:330px;

}
#qqq4
{
width:800px;

margin-top:-50px;
margin-left:330px;

}






